<div class="modal-header">
    <h3 class="modal-title">Edit user</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="fName" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fName" placeholder="First name">
            </div>
        </div>
        <div class="form-group">
            <label for="lName" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lName" placeholder="Last name">
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">City</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="city" placeholder="City">
            </div>
        </div>
        <div class="form-group">
            <label for="zip" class="col-sm-2 control-label">ZIP</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="zip" placeholder="ZIP">
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>